h1 {
    font-size:1.7em;
    border-bottom: 2px dotted lightgray;
}

h2 {
    font-size: 1.3em;
}
ul {
    padding: 0; margin: 0;
}
li {
    list-style: none;
    padding: 0;margin: 0;
}

section {
    margin-top: 10px;
}
p {
    margin: 0;
}
